
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerCreate</title>
</head>
<body>
    <form method="post">
        <div class="container">
            <div class="row">
                <hr />
                <div style="">
                    <div class="row bodyContainerMain">
                        <div class="container">
                            <div class="row">
                                <h2 class="mt-2">Müşteri Oluştur</h2>
                                <hr />
                                <div class="input-group flex-nowrap mt-2">
                                    <span class="input-group-text">ID</span>
                                    <input class="form-control" type="text" name="Id" />
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <span class="input-group-text">Şirket İsmi</span>
                                    <input class="form-control" type="text" name="CompanyName" />
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <span class="input-group-text">İsim - Soyisim</span>
                                    <input class="form-control" type="text" name="CustomerName" />
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <span class="input-group-text">Pozisyonu</span>
                                    <input class="form-control" type="text" name="CustomerTitle" />
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <span class="input-group-text">Telefon</span>
                                    <input class="form-control" type="text" name="CustomerPhone" />
                                </div>
                                    <hr class="my-4">
                                    <button class="btn btn-dark" type="submit">Müşteri Oluştur</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
