@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .productCardText{
            font-style:oblique;
            font-size:large;
            color:floralwhite
        }
        .card {
            background-color:dimgrey
        }
        .gercekBirEichBir{
            font-size:80px;
            font-family:Algerian;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold gercekBirEichBir">Northwind</h1>
            <img src="https://images-ext-1.discordapp.net/external/wB3x6I1hqqPhq7w0-mUfv26lWFgNMVTLWGg-yQi1jQE/%3Fto%3Dcrop%26type%3Dwebp%26r%3D310x310%26q%3D50/https/cdn131.picsart.com/310253024062211.png" />
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style:italic">Destroying your hopes and dreams since november.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/TheMatrix/RedPill" class="btn btn-outline-danger btn-lg px-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Make Money <img width="90" height="55" src="https://imgs.search.brave.com/PkAV7OP4LBuvF48yFX66LHDzhtNAMSnFYF6t3yWZ6aQ/rs:fit:1024:614:1/g:ce/aHR0cHM6Ly9idW5v/dy5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMTkvMDcvMTIw/MHB4LVJlZHBpbGwy/LTEwMjR4NjE0LnBu/Zw" /></a>
                    <a href="/TheMatrix/BluePill" class="btn btn-outline-primary btn-lg px-4 gap-3" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><img width="90" height="55" src="https://images-ext-2.discordapp.net/external/zR_eBOdoD-_HWYXw2b_34U3TUvyRDlYgOHLT-1f9KAo/https/incels.wiki/images/b/bb/Bluepill.png" />Quit Programming</a>
                </div>
            </div>
            </div>
        </div>

        <div class="container bodyContainerMain">
            <h1>Örnek Ürünler</h1>
            <hr />
            <div class="row">
                <div class="col-md-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://atariya.co.uk/wp-content/uploads/2021/02/166.jpg" width="250" height="230" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="height:200px">
                            <h4 class="card-title" style="color:antiquewhite">Ikura</h4>
                            <p class="card-text productCardText" >Somon baliğindan elde edilmiş roe. Yani bir Çesit japon havyari. Somon balığı yumurtasından yapılan bir nigirizushi çeşitidir..</p>
                        </div>
                        <div class="card-footer justify-content-end">
                            <form method="post">
                                <button type="submit" class="btn btn-danger justify-content-center form-control"name="Id" value="6">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-header">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9EYg7ymoZA497r7HIRjoyv0LrNQZ6O04aT7DgssLyOyOrOldUXLAhHQJ3iJ4z0k2gwaA&usqp=CAU" width="250" height="230" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="height:200px">
                            <h4 class="card-title" style="color:antiquewhite">Chang</h4>
                            <p class="card-text productCardText">Tayland'ın iki numaralı birasıdır..</p>
                        </div>
                        <div class="card-footer justify-content-end">
                        <form method="post">
                                <button type="submit" class="btn btn-danger justify-content-center form-control" name="Id" value="5">Sepete Ekle</button>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-sm-0">
                    <div class="card card-custom">
                        <div class="card-header">
                        <img src="https://d2lswn7b0fl4u2.cloudfront.net/photos/pg-pavlova-cakes-1624386289.jpg" width="250" height="230" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="height:200px">
                            <h4 class="card-title" style="color:antiquewhite">Pavlova</h4>
                            <p class="card-text productCardText">Pavlova, Rus balerin Anna Pavlova'nın adını taşıyan beze bazlı bir tatlıdır..</p>
                        </div>
                        <div class="card-footer justify-content-end">
                            <form method="post">
                                <button type="submit" class="btn btn-primary justify-content-center form-control" name="Id" value="3">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-header">
                        <img src="https://i.nefisyemektarifleri.com/2019/08/02/tofu-nedir-1.jpg" width="250" height="230" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="height:200px">
                            <h4 class="card-title" style="color:antiquewhite">Tofu</h4>
                            <p class="card-text productCardText">Vegan beslenmede bitkisel besinler oldukça önemli yer tutar. Tofu da bunlardan biridir..</p>
                        </div>
                        <div class="card-footer justify-content-end">
                            <form method="post">
                                <button type="submit" class="btn btn-primary justify-content-center form-control" name="Id" value="2">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
