@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/Css/CustomCss.css" />
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/Js/CustomScript.js"></script>
    }
    <style>
        #myVideo1 {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    </style>
</head>

<body>
    <video autoplay muted loop id="myVideo1">
        <source src="/smokeVid.mp4" type="video/mp4">
    </video>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home/index" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/home/products" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/home/customers" class="nav-link px-2 text-white">Customers</a></li>
                    <li><a href="/Home/Employee" class="nav-link px-2 text-white">Employees</a></li>
                    <li><a href="/Home/Orders" class="nav-link px-2 text-white">Orders</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a href="/Home/Login" class="btn btn-outline-light me-2">Login</a>
                    <a href="/Home/Register" class="btn btn-warning">Sign-up</a>
                    <a href="/home/sepet" class="btn btn-outline-ligh"><img src="https://cdn.discordapp.com/attachments/1049744598978789508/1065902486654832751/white-shopping-cart-icon-png-19.jpg" style="width:20px; height:20px;"/> Sepet</a>
                </div>
            </div>
        </div>
    </header>

    @RenderBody();

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">Northwind © 2022 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
